discord:
  token: "YOUR_DISCORD_BOT_TOKEN"
  allowed_users: []  # Discord user IDs, empty = allow all

tmux:
  default_cwd: "~/projects"

poller:
  interval: 1.5
  settle_time: 2.0
  max_chunk_size: 1800

security:
  idle_timeout: 300
  dangerous_keywords:
    - "rm -rf"
    - "sudo"
    - "mkfs"
    - "> /dev"
